@import './variables.scss';

.text-center {
  text-align: center;
}

.page-header {
  color: $primary-color;
  background-color: $primary-color-inverse;
  padding: 30px 0 15px 0;
  margin-bottom: 15px;
}
